@import url('https://fonts.googleapis.com/css2?family=Cascadia+Code:ital,wght@0,200..700;1,200..700&family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    font-family: "Poppins", sans-serif;
    /* background-color:#e0e1dd ; */
    /* background: linear-gradient(127deg, #ffb703 100%, #e0e1dd); */
}
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #ffb703;
    /* background-color: #e3d5ca; */
    padding: 10px 20px;
    /* margin: 0; */
}

.logo{
    text-decoration: none;
    font-size: 24px;
    font-weight: bold;
    padding: 0 10px;
    
    color: #023047;
}

.navbar ul{
    display: flex;
    gap: 10px;
    list-style: none;
    padding: 0;
}

.srv-button{
    text-decoration: none;

}

.navbar ul li a{
    text-decoration: none;
    color: #023047;
}

.navbar ul li:hover{
    font-size: 20px;
    transition: 500ms;
}

.main-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 80vh;
    padding: 40px;
    text-align: center;
    align-content: center;
    /* background: #023047; */
}





.feature-card{
    border-radius: 20px;
    background: #e9c46a;
    padding: 20px;
    width: 300px;
    margin: 20px;
    font-size: .9rem;
    text-align:justify;
}

#title{
    background: radial-gradient(closest-side, #ffb80346 , #02304754, transparent );
    margin: 40px;
}

.shorter-link{
    display: flex;
    gap: 10px;
}


.btn-acortar{
    width: 100px;
    border-radius: 10px;
    border: none;
    background: #ffb703;
}
.input-link{
    width: 50vw;
    height: 5vh;
    border: 3px solid #023047;
    border-radius: 10px;
    padding: 0 10px;
    background: transparent;
}

.footer-container{
    display: flex;
    justify-content: space-between;
    padding: 30px;
    background: #ffb703;
}

.footer-container ul li{
    list-style: none;
    color: #023047;
}

.footer-container ul li a{
    text-decoration: none;
    color: #023047;
}